[Unit]
Description=Local Certificate Renewal Timer


[Timer]
OnCalendar=monthly
RandomizedDelay=86400
Persistent=true

[Install]
WantedBy=timers.target